LMS_HOST=192.168.1.10
LMS_PORT=3483
LMS_CLI_PORT=9090

ZONE1_CONTAINER_NAME=squeezelite-zone1
ZONE1_PLAYER_NAME=Zone1
ZONE1_PLAYER_MAC=aa:aa:00:00:00:01
ZONE1_AIRPLAY_ID=AABBCCDDEE01
ZONE1_AIRPLAY_IP=192.168.1.101

ZONE2_CONTAINER_NAME=squeezelite-zone2
ZONE2_PLAYER_NAME=Zone2
ZONE2_PLAYER_MAC=aa:aa:00:00:00:02
ZONE2_AIRPLAY_ID=AABBCCDDEE02
ZONE2_AIRPLAY_IP=192.168.1.102

ZONE3_CONTAINER_NAME=squeezelite-zone3
ZONE3_PLAYER_NAME=Zone3
ZONE3_PLAYER_MAC=aa:aa:00:00:00:03
ZONE3_AIRPLAY_ID=AABBCCDDEE03
ZONE3_AIRPLAY_IP=192.168.1.103
